
.Chat-Area
{
  width: 90%;
  height: 100%;
  @include Flex(flex , column , center , center);



  .Header-Chat
  {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid $Border-Bottom-Color-OF-Header;
    @include Flex(flex , row , space-between , center);



    .Header-Avatar
    {
      width: 20%;
      height: 100%;
      background: #ffffff;
      @include Flex(flex , row , center , center);

      .Avatar
      {
        width: 30%;
        height: 100%;

        @include Flex(flex , row , center , center);

        img
        {
          width: 55px;
          height: 55px;
          background: #e1b3b3;
          @include Two-Border-Radius(50px , 50px )
        }
      }
      .Name-StatusType
      {
        width: 70%;
        height: 100%;
        @include Flex(flex , column , center , flex-start)
      }

      .Name{
        font: {
          size: $Font-Size + 5;
          weight: $Font-Weight;
        };
        color: $Font-Color-OF-HeaderName;
        margin-bottom: .2rem;
      }

      .Status{
        font: {
          size: $Font-Size - 3;
          weight: $Font-Weight - 100 ;
        };
        color: $Font-Color-OF-TypeStatus;
      }



    }


    .Header-Sender-and-Reciver-Avatar-Info
    {
      width: 20%;
      height: 100%;
      @include Flex(flex , row , flex-end , center);
    }


    .Click-To-Info
    {
      @include Flex(flex , row , center , center);
      img
      {
        width: 30px;
        height: 30px;
      }
    }

    .Sender-Recive-Avatar-Info
    {
      width: 70%;
      height: 4rem;

      @include Flex(flex , row , center , center);

      .Sender
      {
        width: 50px;
        height: 50px;
        background: #92f197;
        border: 2px solid white;
        z-index: 2;
        @include Two-Border-Radius(50px ,50px)
      }

      .Reciver{
        @extend .Sender ;
        transform: translatex(50%);
        z-index: 1;
        background: #4eb1d0;
      }

    }

    .Click-To-Info
    {
      width: 20%;
      height: 4rem;
      cursor: pointer;


      img
      {
        width: 20px;
        height: 20px;
      }

    }


  }





  .Parent-Chats
  {
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow-y: scroll;
    @include Flex(flex , column , flex-start , center);


    .Fake-Message-Block
    {
      width: 100%;
      margin-bottom: 5.5rem;
    }


    .Body-Chat-Right
    {
      width: 100%;
      @include Flex(flex , column , flex-start , flex-end);

      .Send-Message
      {
        width: 50%;
        height: auto;
        @include Flex(flex , row , flex-end , flex-end);
        @include Two-Margin-Padding(0rem , 1rem );
      }
      .Avatar-Area
      {
        width: 10%;
        height: 100%;
        @include Flex(flex , row , center , flex-end);

        .Message-Avatar
        {
          width: 50px;
          height: 50px;
          background: darkseagreen;
          @include Two-Border-Radius(50px , 50px);

        }
      }

      .Text-Area
      {
        width: 70%;
        height: auto;
        background: #d7f1a4;
        box-sizing: border-box;
        @include Flex(flex , column , center , space-between);
        @include Two-Border-Radius(10px , 10px);
        @include Two-Margin-Padding(1rem , .5rem);
        @include Two-Margin-Padding(.3rem , .8rem , false)
      }

      .Sentence
      {
        width: 100%;
        width: 100%;
        text-align: left;
        font : {
          size: $Font-Size;
          weight: $Font-Weight ;
        }
        @include All-Margin-Padding( .5rem, 0, .5rem, 0, false)
      }

      .Time
      {
        width: 100%;
        text-align: right;
        font : {
          size: $Font-Size - 3;
          weight: $Font-Weight ;
        }

        @include All-Margin-Padding( .5rem, 0, .2rem, 0, false)
      }
    }

    .Body-Chat-Left
    {
      width: 100%;
      @include Flex(flex , column , flex-start , flex-start);

      .Send-Message
      {
        width: 50%;
        height: auto;
        @include Flex(flex , row , flex-start , flex-end);
        @include Two-Margin-Padding(0rem , 1rem );
      }
      .Avatar-Area
      {
        width: 10%;
        height: 100%;
        order: 1;
        @include Flex(flex , row , center , flex-end);

        .Message-Avatar
        {
          width: 50px;
          height: 50px;
          background: darkseagreen;
          @include Two-Border-Radius(50px , 50px);

        }
      }

      .Text-Area
      {
        width: 70%;
        height: auto;
        background: #a7dbef;
        box-sizing: border-box;
        order: 2;
        @include Flex(flex , column , center , space-between);
        @include Two-Border-Radius(10px , 10px);
        @include Two-Margin-Padding(1rem , .5rem);
        @include Two-Margin-Padding(.3rem , .8rem , false)
      }

      .Sentence
      {
        width: 100%;
        width: 100%;
        text-align: left;
        font : {
          size: $Font-Size;
          weight: $Font-Weight ;
        }
        @include All-Margin-Padding( .5rem, 0, .5rem, 0, false)
      }

      .Time
      {
        width: 100%;
        text-align: right;
        font : {
          size: $Font-Size - 3;
          weight: $Font-Weight ;
        }

        @include All-Margin-Padding( .5rem, 0, .2rem, 0, false)
      }

    }
  }

  .Footer-Input-Chat
  {
    width: 66%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.4);

    .Input-Button
    {
      width: 99%;
      height: 3.5rem;
      margin: auto;
      background: #ebf1f7;
      @include Two-Border-Radius(50px , 50px);
      @include Flex(flex , row , space-around , center);

      .Attach-File
      {
        img
        {
          width: 25px;
          height: 25px;
          opacity: 60%;
          cursor: pointer;
        }
      }

      .Input-Search
      {
        width: 85%;
        height: 2.5rem;
        border: none;
        outline: none;
        font-size: 16px;
        background: transparent;
      }

      .Emoji
      {
        img
        {
          width: 25px;
          height: 25px;
          opacity: 60%;
          cursor: pointer;
        }
      }

      .Search-Button
      {
        width: 45px;
        height: 45px;
        outline: none;
        border: none;
        background: #5959ff;
        cursor: pointer;
        @include Two-Border-Radius(50px , 50px);

        img
        {
          width: 30px;
          height: 30px;
        }
      }


    }
  }



}

