.Chat-Panel
{
  display: none;
  width: 0;
  height: 100%;
  border-left: 1px solid $Border-Left-Color-OF-Panel ;
  background: white;


  .Handel-Postion
  {
    width: 90%;
    height: 6rem;
    margin: auto;
    @include Flex(flex , row ,space-between , center);

    .Icone
    {
     font-size: 25px;
      color: rgba(0,0,0,0.4);
      cursor: pointer;
    }



  }

  .Profile-Media-Files
  {
    width: 90%;
    height: 20rem;
    @include All-Margin-Padding(3rem , auto , 0 , auto);

    @include Flex(flex , column , center , center);

    .Image-Profile
    {
      width: 110px;
      height: 110px;
      background: #70eed7;
      @include Two-Border-Radius(100px , 100px);
      z-index: 1;
    }

    .Name-Profile
    {
      margin-top: 1rem;
      font: {
        size: $Font-Size + 4;
        weight: $Font-Weight ;
      };
    }

    .Item-Profile
    {
      width: 100%;
      height: 4rem;
      margin-top: 2rem;
      background:#ebf1f7;
      box-sizing: border-box;
      @include Flex(flex , row , space-around , center);
      @include Two-Margin-Padding(.5rem , .5rem , false);
      @include Two-Border-Radius(10px , 10px);

      p
      {
        width: 7rem;
        text-align: center;
        cursor: pointer;

        font: {
          size: $Font-Size + 1;
          weight: $Font-Weight;
        };
        color: rgba(0,0,0,0.5);
      }

      .Active
      {
        width: 7rem;
        height: 3rem;
        background: white;
        color: black;
        cursor: pointer;
        transition: .5s;
        @include Flex();
        @include Two-Border-Radius(10px , 10px);
        -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.03);
        box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.03);
      }

    }



  }

  @import "Friend-Profile";
  @import "Friend-Media";
  @import "Friend-File";
  @import "Friend-Dots";
  @import "Responsive-Friend-Profile";
  @import "Responsive-Friend-Dots";
  @import "Responsive-Friend-Media&File";




}


.DarkMood-Chat-Panel
{
  background: #2b2b2b;
  border-left: 1px solid #494949;

 .Icone
  {
    font-size: 25px;
    color: rgba(241, 241, 241, 0.6) !important;
    cursor: pointer;
  }

  h1
  {
    color: #f6f6f6;
  }

  p
  {
    color: white;
  }

  .Item-Profile
  {
    background: #3b3b3b !important;
    p
    {
       color: #a2a2a2 !important;
    }
  }

  .Active
  {
    background: #2b2b2b!important;
      color: white!important;
  }
}