.Friend-Profile
{

  width: 100%;
  margin: auto;
  @include Flex(flex , column , center , center);
  .Phone ,.Loaction ,.Email ,.Notifications
  {
    width: 90%;
    height: 5rem;
    @include Flex(flex , row , space-around , center);
    border-bottom: 1px solid $Border-Bottom-Color-OF-Header;

    .Title-Panel
    {
      width: 50%;
      box-sizing: border-box;
      @include Flex(flex , column , space-between , flex-start);
      @include Two-Margin-Padding(.5rem , .5rem , false);

      h1
      {
        font: {
          size: $Font-Size ;
          weight: $Font-Weight;
        };
      }

      p
      {
        font: {
          size: $Font-Size - 2;
          weight: $Font-Weight;
        };
        color: #b6b6b6;
        margin-top: .5rem;
      }
    }

    .Logo-Panel
    {
      @extend .Title-Panel;
      @include Flex(flex , column , space-around , flex-end);
      .Icone
      {
        font-size: 25px;
        color: rgba(0,0,0,0.4);
        transition: .5s;
        cursor: pointer;
      }

      .Icone:hover
      {
        color: rgba(0,0,0,0.6);
      }
    }
    @import "Checke-Input";
  }
}
