.Friend-Media
{
  width: 100%;
  @include Flex(flex , column , center , center);
  img
  {
    width: 110px;
    height: 110px;
  }
  p
  {
    margin-top: .5rem;
    font: {
      size: $Font-Size;
    };
  }
}