.Item-Area
{
  width: 10%;
  height: 100%;
  background: #ffffff;
  @include Flex(flex , row , center , center);

  .ParentIcon
  {
    width: 70%;
    height: 100%;
    @include Flex(flex , Column , space-between , center);

    .Logo
    {
      width: 100%;
      height: 7rem;
      @include Flex(flex , row , center , center);
      @include Two-Margin-Padding(2rem , 2rem , false);

      img
      {
        width: 80px;
        height: 80px;
      }
    }

    .Item
    {
      width: 100%;
      margin-top: 6rem;
      @include Flex(flex , Column , space-between , center);

      div
      {
        @include Two-Margin-Padding( 2rem , 0 );

        img
        {
          width: 35px;
          height: 35px;
          opacity: 60%;
        }
      }


    }

    .MyProfile
    {

      width: 100%;
      @include Flex();
      margin-bottom: 5rem;

      img
      {
        width: 55px;
        height: 55px;
        background: #66deaa;
        @include Two-Border-Radius(50px , 50px)
      }
    }

  }
}

