@media screen and (min-width: 0) and (max-width: 480px)
{
  .Friend-Media
  {
    width: 100%;
    @include Flex(flex , column , center , center);
    img
    {
      margin-top: 1rem;
      width: 70px;
      height: 70px;
    }
    p
    {
      margin-top: .5rem;
      font: {
        size: $Font-Size - 4;
      };
    }
  }

  .Friend-File
  {
    width: 100%;
    @include Flex(flex , column , center , center);
    img
    {
      margin-top: 1rem;
      width: 70px;
      height: 70px;
    }
    p
    {
      margin-top: .5rem;
      font: {
        size: $Font-Size - 4;
      };
    }
  }

}