@media screen and (min-width: 0px) and (max-width: 480px){


  ::-webkit-scrollbar {
    display: none;
  }

  body,html
  {
    overflow-x: hidden !important;
  }


  .Master-Area
  {
    width: 100%;
    height: 100%;
    @include Flex(flex ,column , center , center);
    transition: .5s;
  }
}