@media screen and (min-width: 0px) and (max-width: 480px){


  body::-webkit-scrollbar {
    display: none;
  }


  body{
    overflow-y: scroll;
    overflow-x: hidden;
  }


  .Master-Area
  {
    width: 100%;
    height: 100%;
    @include Flex(flex ,column , center , center);
    transition: .5s;
  }
}