@media screen and (min-width: 0px) and (max-width: 400px) {
  .Setting-Panel
  {
    @include Flex(flex , row , center , center);
    width: 13.5rem;
    height: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1000;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(186, 186, 186, 0.40);
    @include Two-Border-Radius(15px , 15px);
    @include Two-Margin-Padding(15px , 15px , false);
    display: none;


    .Dark-Mood
    {
      width: 100%;
      height: 0rem;
      @include Flex(flex , row , center , center);
      margin-bottom: 5rem;

      P
      {
        font: {
          size: $Font-Size - 1;
          weight: $Font-Weight;
        };
        margin-right: 3rem;
      }

      button
      {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: none;
        @include Flex();
        margin: .2rem;
        background: white;
      }

      .Icone
      {
        color: rgba(0,0,0,0.7);
        font-size: 5em;
      }

    }
  }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  .Setting-Panel
  {
    @include Flex(flex , row , center , center);
    width: 18rem;
    height: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1000;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(186, 186, 186, 0.40);
    @include Two-Border-Radius(15px , 15px);
    @include Two-Margin-Padding(15px , 15px , false);
    display: none;


    .Dark-Mood
    {
      width: 100%;
      height: 0rem;
      @include Flex(flex , row , center , center);
      margin-bottom: 5rem;

      P
      {
        font: {
          size: $Font-Size + 4;
          weight: $Font-Weight;
        };
        margin-right: 3rem;
      }

      button
      {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: none;
        @include Flex();
        margin: .2rem;
        background: white;
      }

      .Icone
      {
        color: rgba(0,0,0,0.7);
        font-size: 5em;
      }

    }
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .Setting-Panel
  {
    @include Flex(flex , row , center , center);
    width: 18rem;
    height: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1000;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(186, 186, 186, 0.40);
    @include Two-Border-Radius(15px , 15px);
    @include Two-Margin-Padding(15px , 15px , false);
    display: none;


    .Dark-Mood
    {
      width: 100%;
      height: 0rem;
      @include Flex(flex , row , center , center);
      margin-bottom: 5rem;

      P
      {
        font: {
          size: $Font-Size + 4;
          weight: $Font-Weight;
        };
        margin-right: 3rem;
      }

      button
      {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: none;
        @include Flex();
        margin: .2rem;
        background: white;
      }

      .Icone
      {
        color: rgba(0,0,0,0.7);
        font-size: 5em;
      }

    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .Setting-Panel
  {
    @include Flex(flex , row , center , center);
    width: 18rem;
    height: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1000;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(186, 186, 186, 0.40);
    @include Two-Border-Radius(15px , 15px);
    @include Two-Margin-Padding(15px , 15px , false);
    display: none;


    .Dark-Mood
    {
      width: 100%;
      height: 0rem;
      @include Flex(flex , row , center , center);
      margin-bottom: 5rem;

      P
      {
        font: {
          size: $Font-Size + 4;
          weight: $Font-Weight;
        };
        margin-right: 3rem;
      }

      button
      {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: none;
        @include Flex();
        margin: .2rem;
        background: white;
      }

      .Icone
      {
        color: rgba(0,0,0,0.7);
        font-size: 5em;
      }

    }
  }
}
